---
import "../styles/global.css";
import Navbar from "@/components/Nav"; // si usaste export default
import Footer from "@/components/footer.astro";
const currentPath = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Prueba</title>
    <meta name="description" content="Mantenimiento lo hacemos por ti..." />
    <meta name="keywords" content="mantenimiento, servicios, ..." />
    <meta name="author" content="Mantenimiento lo hacemos por ti" />
  </head>
  <body>
    <!-- HIDRATACIÓN: al ser componente React (use client) hay que hidratarlo -->
    <Navbar page={currentPath} client:visible />

    <slot />

    <Footer />
  </body>
</html>
